<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TLCV (<%= game.site %>)</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGG2Y6TFLR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-FGG2Y6TFLR');
    </script>
    <link rel="stylesheet" href="https://unpkg.com/reset-css/reset.css" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v3.0.1/dist/mini-default.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="main-layout">
        <%- include('info-card', { color: 'black' }) %>
        <div id="board-container">
          <div id="board"></div>
        </div>
        <div id="fen-tooltip" class="tooltip" aria-label="Click to copy">
          <pre id="fen"></pre>
        </div>
        <%- include('info-card', { color: 'white' }) %>
        <div id="chat-area">
          <div class="card fluid" id="chat-box"></div>
          <div style="height: 100%">
            <div class="spectator-wrapper">
              <div class="card fluid username-container">
                <input placeholder="Anonymous" id="username" />
              </div>
              <ul class="card fluid" id="spectator-box"></ul>
            </div>
          </div>
          <input placeholder="Type your message here..." id="chat-msg" />
          <button class="primary" id="chat-btn">Send</button>
        </div>
        <div id="button-container">
          <a href="<%= port %>/pgn" target="_blank" class="primary button">PGN</a>
          <a href="<%= port %>/result-table" target="_blank" class="primary button">Results</a>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const port = <%= port %>;
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
