<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= game.white.name %> vs <%= game.black.name %> (<%= game.site %>)</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-FGG2Y6TFLR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-FGG2Y6TFLR');
    </script>
    <link rel="stylesheet" href="https://unpkg.com/reset-css/reset.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="container">
      <div class="main-layout">
        <%- include('info-card', { color: 'black' }) %>
        <div id="board-container">
          <div id="board"></div>
        </div>
        <div class="below-board">
          <div id="fen-tooltip" class="tooltip" aria-label="Click to copy">
            <pre id="fen"></pre>
          </div>
        </div>
        <%- include('info-card', { color: 'white' }) %> <%- include('chat') %>
        <div id="button-container">
          <a href="/<%= port %>/pgn" target="_blank" class="primary button">PGN</a>
          <a href="/<%= port %>/result-table" target="_blank" class="primary button">Results</a>
        </div>
      </div>
      <h6 class="credits">
        <small>
          Chessboard by <a href="https://chessboardjs.com/">chessboard.js</a>. Chess pieces by
          <a href="https://en.wikipedia.org/wiki/User:Cburnett">Cburnett</a>. Broadcasts by
          <a href="https://ccrl.chessdom.com/ccrl/4040/">Graham Banks, CCRL</a>. Hosting and Development by
          <a href="https://github.com/jhonnold">Jay Honnold</a>. Have a question, recommendation, or concern? Reach
          out <a href="https://github.com/jhonnold/node-tlcv/issues">here</a>.
        </small>
      </h6>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const port = <%= port %>;
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
