<div id="<%= color %>-info">
  <h3 id="<%= color %>-name"></h3>
  <div class="card fluid">
    <div class="row">
      <div class="col-sm">
        <div class="row">
          <div class="col-sm">
            <p class="small-margin"><small>Score</small></p>
            <p class="small-margin" id="<%= color %>-score"></p>
          </div>
          <div class="col-sm">
            <p class="small-margin"><small>Depth</small></p>
            <p class="small-margin" id="<%= color %>-depth"></p>
          </div>
          <div class="col-sm">
            <p class="small-margin"><small>Nodes</small></p>
            <p class="small-margin" id="<%= color %>-nodes"></p>
          </div>
          <div class="col-sm">
            <p class="small-margin"><small>Nps</small></p>
            <p class="small-margin" id="<%= color %>-nps"></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3" style="text-align: right">
        <h3><small id="<%= color %>-time"></small></h3>
        <h6><small id="<%= color %>-think"></small></h6>
      </div>
      <div class="col-sm-12">
        <p class="pv"><small id="<%= color %>-pv"></small></p>
      </div>
    </div>
  </div>
</div>
