<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= game.white.name %> vs <%= game.black.name %> (<%= game.site %>)</title>
    <%- include('../partials/analytics') %>
  </head>
  <body>
    <%- include('../partials/header', { siteName: game.site, showFocus: true }) %>
    <div class="container">
      <div class="main-layout">
        <div id="board-container">
          <canvas id="arrow-board" height="2400" width="2400"></canvas>
          <div id="board"></div>
          <div id="board-footer">
            <span id="board-caption"></span>
            <span id="board-fen" title="Click to copy FEN"></span>
          </div>
        </div>
        <div id="resize-handle" title="Resize Board"><span></span></div>
        <div class="right-column">
          <%- include('../partials/info-card', { color: 'black' }) %>
          <%- include('../partials/chat') %>
          <%- include('../partials/info-card', { color: 'white' }) %>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
